/* Thumbnail Effects Style */
.tj_container{
}
.portfolio{
	height:580px;
	width:100%;
	overflow:hidden;
	position:relative;
}
.tj_wrapper{

}
.tj_wrapper ul{
	padding-left:0;
}
.tj_wrapper ul li{
	float:left;
}
.tj_wrapper ul li a img{
	display:block;
	border:none;
	opacity:0.7;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-transition: all 0.2s ease-in-out;
}
.tj_wrapper ul li a img:hover{
	opacity:1.0;
}
