html { font-size: 100%; overflow: hidden;	height:100%;}
body { margin: 0; font-size: 100%; line-height: 1.231; min-height:100%; font-family: sans-serif; color: #222; } /*1.231 will be multiplied by current font size and make 16px line height */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

button, input, select, textarea { font-family: sans-serif; color: #222; } /*Probably Helvetica for Linux/Mac Systems And Arial for Windoes PC*/ 

blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;} /* Safari Reset as Safari does not recognise quotes property */

a {margin:0; padding:0; font-size: 100%; vertical-align: baseline; background: transparent;
	text-decoration:none;
	color:#FFF;
	-webkit-transition:color 0.2s ease-in;  
   -moz-transition:color 0.2s ease-in;  
   -o-transition:color 0.2s ease-in;  
   transition:color 0.2s ease-in; 
}

a:hover, a:active { outline: 0; }

a img { border:0 none;}

del {text-decoration: line-through;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
small {font-size: 85%;}


table {font-size: inherit; font: 100%;border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal;}
td, td img {vertical-align: top;} 

/* hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=submit], button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 body {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0;}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}


@font-face {
    font-family: 'GraphikBold';
    src: url('webfonts/graphik-bold-webfont.eot');
    src: url('webfonts/graphik-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/graphik-bold-webfont.woff') format('woff'),
         url('webfonts/graphik-bold-webfont.ttf') format('truetype'),
         url('webfonts/graphik-bold-webfont.svg#GraphikBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GraphikLight';
    src: url('webfonts/graphik-light-webfont.eot');
    src: url('webfonts/graphik-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/graphik-light-webfont.woff') format('woff'),
         url('webfonts/graphik-light-webfont.ttf') format('truetype'),
         url('webfonts/graphik-light-webfont.svg#GraphikLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GraphikRegular';
    src: url('webfonts/graphik-regular-webfont.eot');
    src: url('webfonts/graphik-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/graphik-regular-webfont.woff') format('woff'),
         url('webfonts/graphik-regular-webfont.ttf') format('truetype'),
         url('webfonts/graphik-regular-webfont.svg#GraphikRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GraphikSemibold';
    src: url('webfonts/graphik-semibold-webfont.eot');
    src: url('webfonts/graphik-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/graphik-semibold-webfont.woff') format('woff'),
         url('webfonts/graphik-semibold-webfont.ttf') format('truetype'),
         url('webfonts/graphik-semibold-webfont.svg#GraphikSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	position:relative;
	width:100%;
	background-color:#0f0f0f;
}

/*~~~~~~~~~~~    Internet Explorer Styles Here    ~~~~~~~~~~~~~*/
.ie7 .brand-page .caption{
	background:none;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
	zoom: 1;
}
.ie .brand-page .brand-rollover{
background:none;
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
zoom: 1;
}

/*~~~~~~~~ HOME PAGE STYLES HERE ~~~~~~~~*/
.slideshow {width:100%;}
.rollover {
	background-color:rgba(0,0,0,0.8);
	position:absolute;
	left:0;
	bottom:0;	
	width:88%;
	height:45px;
	color:#fff;
	padding:24px 0 0 30px;
	font-family:'GraphikSemibold',Arial, Helvetica, sans-serif;
}
.ie6 .rollover,
.ie7 .rollover,
.ie8 .rollover {
	background:none;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
	zoom: 1;
}
h1 a{border-bottom:1px solid #FFF; padding-bottom:2px;}
.rollover h1 {
	font-size:22px;
	font-weight:normal;
	margin-bottom:10px;
}
.rollover h1 a { padding-bottom:3px; border-bottom:1px solid #fff; }
.navigation li {float:left; padding-left:14px; font-size:14px;}
.navigation li:first-child { padding-left:0;}
.navigation li a {color:#989898;text-decoration:underline;}
.navigation li a:hover {color:#00ffff;text-decoration:underline;}
.collapse{position:absolute; right:0; top:0; cursor:pointer;}
.collapse-close {position:absolute; right:0; top:0; cursor:pointer;}
.collapse, .collapse-close {
	display:block;
	background:url("images/css-sprite.gif") no-repeat 0 0;
	text-indent:-9999px;
	width:19px;
}
.collapse {background-position: 0 -567px;}
.collapse-close {background-position:0 -547px;}
.content{padding:32px 0 0 28px;}
/*---- General Styles here  ----*/
h1, h1 span, .work-page h3, .work-page h3 a, .service-list .count a, h2, form label, form h3.form-heading{color:#FFF;}
/*~~~~~~~~~~~~~    BULLETIN PAGE STYLES    ~~~~~~~~~~~~~*/
#bulletinList{position:absolute;top:0;}
.bulletin-page{
	position:relative;
	width:840px;
	height:480px;
	overflow:hidden;
}
.bulletin-page ul li{
	float:left;
	width:140px;
	min-height:470px;
	margin-right:20px;
	list-style:none;
}
.bulletin-page img{
	margin-bottom:15px;
	width:140px;
	height:180px;
}
.bulletin-page span{
	font:14px 'GraphikSemibold', Arial, Helvetica, sans-serif;
	color:#989898;
	text-decoration:underline;
}
.bulletin-page a.bulletinn-heading{
	color:#FFF;
	display:block;
	font:14px 'GraphikSemibold', Arial, Helvetica, sans-serif;
	text-decoration:underline;
	line-height:1.2;
	margin-bottom:5px;
}
.bulletin-page p{
	font:12px 'GraphikRegular', Arial, Helvetica, sans-serif;
	color:#FFF;
	line-height:1.38;
}
.bulletin-page li p a{
	color:#0FF;
	text-decoration:underline;
	font-family:'GraphikSemibold', Arial, Helvetica, sans-serif;
}

/*~~~~~~~~~~~~   PROJECT STYLES     ~~~~~~~~~~~~*/
.gallery{
  z-index: -1; /* for video click though */
}
.gallery .caption{
  width:800px;
  opacity:0;
  background-color:rgba(0,0,0,0.8);
  font:12px 'GraphikRegular', Arial, Helvetica, sans-serif;
  color:#FFF;
  padding-top:7px;
  padding-bottom:7px;
  padding-left:27px;
}
.brand-presentation{
  font:22px 'GraphikRegular', Arial, Helvetica, sans-serif;
  font-weight:100;
  border-bottom:0;
}

.project-navigation {
  background-color:rgba(0,0,0,0.9);
  position:absolute;
  left:0;
  bottom:0;
  width:800px;
  height:72px;
  color:#fff;
  padding:23px 0 0 29px;
}
.project-navigation-close {
  background-color:rgba(0,0,0,0.9);
  position:absolute;
  left:0;
  bottom:0;
  width:800px;
  height:20px;
  color:#fff;
}
.brand-navigation li {
  float:left;
  padding-left:14px;
  font-size:14px;
}
.brand-navigation li:first-child { padding-left:0;}
.brand-navigation li a {color:#989898; text-decoration:underline;}
.brand-navigation li a, .right-rollover-side{font-family:'GraphikSemibold',Arial, Helvetica, sans-serif;}
.brand-navigation li a:hover {color:#0FF;}
.left-rollover-side{width:70%;float:left;}
.left-rollover-side h1{font-size:22px; margin-bottom:5px;}
.right-rollover-side{float:left;}
.right-rollover-side .count, .right-rollover-side .counted, .right-rollover-side .separator{float:left;}
.right-rollover-side .leftArrow{margin-top:1px;margin-right:10px;float:left; cursor:pointer;}
.right-rollover-side .rightArrow{margin-top:1px;margin-left:5px;float:left; cursor:pointer;}


/*-------  Keyboard Arrows to Navigate  --------*/
.navigate-arrows{
  height: 16px;
  position: absolute;
  right: 31px;
  top: 32px;
  width: 27px;
}
.navigate-arrows a{
  position:absolute;
  background:url('images/nav-arrow.png') no-repeat 0 0;
  display:block;
  text-indent:-9999px;
}
.navigate-arrows a.top, .navigate-arrows a.bottom{width:6px;height:4px;}
.navigate-arrows a.left, .navigate-arrows a.right{width:4px;height:6px;}
.navigate-arrows a.top{top:0;background-position:0 0;margin-left:11px; }
.navigate-arrows a.left{top:11px;left:0;background-position:0 -8px;}
.navigate-arrows a.right{top:11px;left:24px;background-position:-4px -8px;}
.navigate-arrows a.bottom{left:11px;top:12px;background-position:0 -4px;}
.navigate-arrows a.top:hover{background-position:-8px 0;}
.navigate-arrows a.left:hover{background-position:-8px -8px;}
.navigate-arrows a.right:hover{background-position:-12px -8px;}
.navigate-arrows a.bottom:hover{background-position:-8px -4px;}

/*-- Share fancy box styles here  --*/
.gallery #share-box{
  height:117px;
  width:304px;
  padding:72px 32px 46px 32px;
  background-color:rgba(255,255,255,0.9);
  position:absolute;
  top:0;
  left:0;
  display:none;
  z-index:100;
}
.gallery .share{
  text-align:center;
  margin:34px auto 27px;
}
.gallery .share a{
  margin-left:5px;
  color:#707070;
  text-decoration:underline;
  font:14px 'GraphikSemibold',Arial, Helvetica, sans-serif;
}
.gallery .share a:hover{
  color:#0FF
}
.gallery .social{
  display:none;
}
.gallery #share-box .email, #share-box .facebook, #share-box .twitter{
  width:50px;
  float:left;
  margin-bottom:33px;
}
.gallery #share-box .email{
  margin-left:50px;
}
.gallery #share-box .facebook{
  margin-left:35px;
}
.gallery #share-box .twitter{
  margin-left:30px;
}
.gallery #share-box .email img, #share-box .facebook img, #share-box .twitter img{
  margin-bottom:5px;
}

.gallery #share-box .email a, #share-box .facebook a, #share-box .twitter a{
  color:#707070;
  display:block;
  text-align:center;
  font:10px 'GraphikRegular',Arial, Helvetica, sans-serif;
}

.gallery #share-box h2{
  font:18px 'GraphikSemibold',Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  color:#000;
  text-align:center;
  clear:both;
}

/*~~~~~~~~~~~~     WORK PAGE ACTIVE STYLES     ~~~~~~~~~~~~~*/

.projectHover{ opacity:0; }

.portfolio ul li.active{
  list-style:none;
  float:left;
  width:140px;
  height:180px;
  margin-right:20px;
  margin-bottom:20px;
  position:relative;

}
.portfolio li a.work{
  position:absolute;
  width:140px;
  height:180px;
  background:rgba(0,0,0);
}
.ie6 .portfolio li.active a.work,
.ie7 .portfolio li.active a.work,
.ie8 .portfolio li.active a.work{
  background:none;
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF,endColorstr=#DDFFFFFF);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF,endColorstr=#DDFFFFFF);
  zoom: 1;
}
.work-page .portfolio li.active-2 div{
  display:none;
  width:526px;
  position:absolute;
  top:-200px;
  left:0;
}

.work-page .portfolio li.active div{
  display:none;
  width:612px;
  position:absolute;
  top:200px;
  left:0;
}
.work-page .portfolio li:hover img{
  z-index:1;
}
.work-page .portfolio li div h3{font:55px 'GraphikLight', Arial, Helvetica, sans-serif; font-weight:100;}
.work-page .portfolio li div h3 small{
  font-size:34px;
  vertical-align:text-top;
  font-weight:bold;
  color:#00ffff;
}
.work-page .portfolio li div h3 a{text-decoration:underline;}


.work-page .portfolio li img{
  width:140px;
  height:180px;
  z-index:-1;
  position:absolute;
}
.work-page .portfolio li:hover div{
  display:block;
  z-index:1;
}
.work-page .portfolio li:hover div span{
  color:#0FF;
}
.work-page .portfolio li:hover div small{
  font-family:'GraphikSemibold', Arial, Helvetica, sans-serif;
  color:#0FF;
}

/*~~~~~~~~~~~~     WORK PAGE STYLES     ~~~~~~~~~~~~~*/

.work-page header{
  height:28px;
  width:100%;
}
header h1{
  width:321px;
  float:left;
  font-size:22px;
}
.service-icons{float:left;}
h1 span{font-weight:100;}
.portfolio ul li{
  list-style:none;
  float:left;
  width:140px;
  height:200px;
  margin-right:20px;
}
.portfolio li a.work{width:140px; height:180px;}
.portfolio img{width:140px;	height:180px;}

/*-    Service icons    -*/

header a.sort-by-service, header a.reset{padding-right:27px;}
header a.sort-by-service{background-position:110px -11px;}
header a.reset{background-position:43px -57px; margin-bottom:65px;}
header a.sort-by-service:hover{background-position:110px -42px;}
header a.reset:hover{background-position:43px -73px;}
/*-- Footer Icons --*/
a.back-top:hover, a.view-more:hover, header a.reset:hover, header a.sort-by-service:hover, a.read-more:hover{color:#00ffff;}
a.back-top, a.view-more, a.view-more2, header a.sort-by-service, header a.reset, a.read-more{background-image:url('images/css-sprite.gif'); background-repeat:no-repeat;}
a.back-top, a.back-top{font-size:13px;}

a.back-top{ font-size:14px;letter-spacing:1.5px;text-decoration:underline; background-position:0 2px; padding:0 21px 0 21px;}
a.read-more{ font-size:14px;letter-spacing:1.5px;text-decoration:underline; background-position:81px -11px;	padding-right:21px;}
a.read-more:hover{background-position:81px -42px;}
a.back-top:hover{background-position:0 -28px;}
a.view-more{background-position:122px -12px; padding-right:21px;}
a.view-more:hover{color:#00ffff; background-position:122px -43px;}
a.view-more2{background-position:80px -12px; padding-right:21px;}
a.view-more2:hover{color:#00ffff; background-position:80px -43px;}
.information-detail a.back-top{background-position:0 4px;}
.information-detail a.back-top:hover{background-position:0 -26px;}
.information-detail a.view-more{background-position:122px -11px;}
.information-detail a.view-more:hover{background-position:122px -42px;}
.ie a.view-more{padding-right:25px;}

/*-- Keyboard Help --*/
#keyboard{cursor:pointer;}

.navigation-active{display:none; opacity:0}

.navigation-active div{
  position:absolute;
  top:0;
  left:0;
  width:252px;
  height:181px;
  background:rgba(255,255,255,0.8);
  padding:35px 52px 26px 64px;
  text-align:center;
  z-index:1000;
}
.navigation-active div a{
  display:block;
}
.navigation-active div a.top-arrow, .navigation-active div a.left-arrow, .navigation-active div a.right-arrow, .navigation-active div a.bottom-arrow{
  background:url('images/css-sprite.gif') no-repeat 0 0;
  text-indent:-9999px;
  position:absolute;
  height:42px;
  width:42px;
  display:block;
  cursor:default;
}
.navigation-active div p{
  padding-top:120px;
}
.navigation-active div p {
  font:18px 'GraphikSemibold', Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  color:#000;
}

/*
.navigation-active div a.top-arrow{background-position:0 -203px; left:163px; top:35px;}
.navigation-active div a.left-arrow{background-position:0 -332px; left:118px; top:80px;}
.navigation-active div a.right-arrow{background-position:0 -245px; left:208px; top:80px;}
.navigation-active div a.bottom-arrow{background-position:0 -289px; left:163px;	top:80px;}*/
.navigation-active div a.top-arrow{background-position:0 -375px; left:163px; top:35px;}
.navigation-active div a.left-arrow{background-position:0 -504px; left:118px; top:80px;}
.navigation-active div a.right-arrow{background-position:0 -418px; left:208px; top:80px;}
.navigation-active div a.bottom-arrow{background-position:0 -461px; left:163px;	top:80px;}

/*-   Work Page Hover Information    -*/
.work-page header{margin-bottom:17px;}
.bulletin header{margin-bottom:10px;}
.work-page h3{font-size:55px; font-weight:normal;}
.work-page h3 small{
  font-size:34px;
  vertical-align:text-top;
  font-weight:bold;
  color:#00ffff;
}
.work-page h3 a{text-decoration:underline;}

/*-   Service List  -*/
.service-list {
  padding-top:65px;
  position:relative;
  display:none;
  width:816px;
}
.service-list ul{width:654px; padding-left:0;}
.service-list li{width:154px; float:left; list-style:none;}
.service-list li a{font:14px 'GraphikSemibold'; color:#989898;line-height:21px;}
.service-list li a:hover{color:#00ffff;}
.service-list .close{
  width:15px;
  height:15px;
  position:absolute;
  right:0;
  top:65px;
}
.service-list .close a{display:block; text-indent:-9999px; background:url('images/css-sprite.gif') no-repeat 0 -89px;}
.service-list .count{position:absolute; right:0; bottom:0;}
.service-list .count a{display:block; font:35px 'GraphikSemibold', Arial, Helvetica, sans-serif;}
/*- Work Page Footer Styles -*/
footer {width:63%; min-width:830px; position:absolute; left:29px; bottom:25px;}
.content .navigation{width:250px; float:right;}
.arrows{width:290px; float:left;}
footer a, .service-icons a{
  color:#989898;
  font-size:14px;
  font-weight:bold;
  text-decoration:underline;
}

#projectInformation{position:absolute;width:100%;background-color:#0f0f0f; top:30px;}
/*~~~~~~~~    INFORMATION PAGE STYLES HERE    ~~~~~~~~*/
.information-detail {padding-left:28px; padding-bottom:10px;}

.information-page .categories a{
  font-size:14px;
  font-family:'GraphikRegular', Arial, Helvetica, sans-serif;
  text-decoration:underline;
  line-height:1.5;
  color:#979797;
}

.information-wrapper{
  position:relative;
  margin-top:20px;
  min-width:740px;
  width: 82%;
  float:left;
  height:480px;
  overflow:hidden;
  text-overflow: ellipsis;
}
.information-page .categories{
  width:743px;
}
.information-page .information-content sup{
  font:20px 'GraphikRegular', Arial, Helvetica, sans-serif;
  color:#0FF;
}

.information-page .right-sidebar sup{
  color:#0FF;
}

.information-page .information-content{
  position:absolute;
  top:0;
}

.information-page p{
  margin-top:0px;
  font:35px 'GraphikLight', Arial, Helvetica, sans-serif;
  line-height:41px;
  color:#FFF;
  text-overflow: ellipsis;
}
.information-page aside{
  width:125px;
  float:right;
  color:#FFF;
  margin-right: 60px;
}

.information-page ul li h2, .information-page aside small{
  font:11px 'GraphikSemibold', Arial, Helvetica, sans-serif;
  color:#0FF;
}
.information-page .right-sidebar p{
  margin-bottom:16px;
  font:11px 'GraphikLight', Arial, Helvetica, sans-serif;
  line-height:1.5;
}
.right-sidebar ul{
  list-style:none;
  list-style-image: none; margin: 0; padding: 0;
}
.right-sidebar h3{
  font-size: 11px;
  font-family: 'GraphikSemibold', Arial, Helvetica, sans-serif;
  color:#0FF;
  text-transform: uppercase;
}
.information-page ul li{
  list-style:none;
  margin-bottom:16px;
  font:11px 'GraphikRegular', Arial, Helvetica, sans-serif;
}
.information-page ul li a{
  text-decoration:underline;
}

#projectDetail p{
  margin-bottom: 20px;
}

.related{
  width: 620px;
}
.related, .related a{
  color:#989898;
  font-size:14px;
}

.related a{
  text-decoration:underline;
}

.related a:hover{
  color: #00ffff;
  text-decoration:underline;
}

#textNav{margin-top:5px;}


/*~~~~~~~~~~~~   NIKE BRAND PRESENTATION STYLES     ~~~~~~~~~~~~*/
brand-page{
    background:url('../images/nike-brand.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/nike-brand.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/nike-brand.jpg', sizingMethod='scale')";
}
.brand-page .caption{
	width:88%;
	height:24px;
	background-color:rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/nike-brand.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/nike-brand.jpg', sizingMethod='scale')";
}
.brand-page .caption span{
	font:12px 'GraphikRegular', Arial, Helvetica, sans-serif;
	color:#FFF;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:27px;
}
h1 a.brand-presentation{
	font:22px 'GraphikRegular', Arial, Helvetica, sans-serif;
	font-weight:100;
	border-bottom:0;
}

.brand-rollover {
	background-color:rgba(0,0,0,0.9);
	position:absolute;
	left:0;
	bottom:0;	
	width:88%;
	height:72px;
	color:#fff;
	padding:23px 0 0 29px;
}
.brand-rollover-close {
	background-color:rgba(0,0,0,0.9);
	position:absolute;
	left:0;
	bottom:0;	
	width:88%;
	height:20px;
	color:#fff;
}
.brand-navigation li {
	float:left;
	padding-left:14px;
	font-size:14px;
}
.brand-navigation li:first-child { padding-left:0;}
.brand-navigation li a {color:#989898; text-decoration:underline;}
.brand-navigation li a, .right-rollover-side{font-family:'GraphikSemibold',Arial, Helvetica, sans-serif;}
.brand-navigation li a:hover {color:#0FF;}
.left-rollover-side{width:70%;float:left;}
.left-rollover-side h1{font-size:22px; margin-bottom:5px;}
.right-rollover-side{width:10%;	float:left;}
.right-rollover-side a.count, .right-rollover-side a.counted{background:url('images/css-sprite.gif') no-repeat 0 0;}
.page-count{margin-bottom:-10px;}
.right-rollover-side a.count{padding-left:35px;}
.right-rollover-side a.counted{padding-right:40px;}
.right-rollover-side a.count{background-position:0 -110px;}
.right-rollover-side a.count:hover{background-position:0 -157px;}
.right-rollover-side a.counted{background-position:36px -133px;}
.right-rollover-side a.counted:hover{background-position:36px -180px;}

/*-------  Keyboard Arrows to Navigate  --------*/
.navigate-arrows{
    height: 16px;
    position: absolute;
    right: 31px;
    top: 32px;
    width: 27px;
}
.navigate-arrows a{
	position:absolute;
	background:url('images/nav-arrow.png') no-repeat 0 0;
	display:block;
	text-indent:-9999px;
}
.navigate-arrows a.top, .navigate-arrows a.bottom{width:6px;height:4px;}
.navigate-arrows a.left, .navigate-arrows a.right{width:4px;height:6px;}
.navigate-arrows a.top{top:0;background-position:0 0;margin-left:11px; }
.navigate-arrows a.left{top:11px;left:0;background-position:0 -8px;}
.navigate-arrows a.right{top:11px;left:24px;background-position:-4px -8px;}
.navigate-arrows a.bottom{left:11px;top:12px;background-position:0 -4px;}
.navigate-arrows a.top:hover{background-position:-8px 0;}
.navigate-arrows a.left:hover{background-position:-8px -8px;}
.navigate-arrows a.right:hover{background-position:-12px -8px;}
.navigate-arrows a.bottom:hover{background-position:-8px -4px;}
/*-- Share fancey box styles here  --*/
#share-box{
	height:117px;
	width:304px;
	padding:72px 32px 46px 32px;
}
.share a{
	margin-left:40px;
	color:#707070;
	text-decoration:underline;
	font:14px 'GraphikSemibold',Arial, Helvetica, sans-serif;
}
.share a:hover{
	color:#0FF
}
.social{
	display:none;
}
#share-box .email, #share-box .facebook, #share-box .twitter{
	width:50px;
	float:left;
	margin-bottom:33px;
}
#share-box .email{
	margin-left:50px;
}
#share-box .facebook{
	margin-left:35px;
}
#share-box .twitter{
	margin-left:30px;
}
#share-box .email img, #share-box .facebook img, #share-box .twitter img{
	margin-bottom:5px;
}

#share-box .email a, #share-box .facebook a, #share-box .twitter a{
	color:#707070;
	display:block;
	text-align:center;
	font:10px 'GraphikRegular',Arial, Helvetica, sans-serif;
}

#share-box h2{
	font:18px 'GraphikSemibold',Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#989898;
	text-align:center;
	clear:both;
}

/*~~~~~~~~~~~~     WORK PAGE ACTIVE STYLES     ~~~~~~~~~~~~~*/

.portfolio ul li.active{
	list-style:none;
	float:left;
	width:140px;
	height:180px;
	margin-right:20px;
	margin-bottom:20px;
	position:relative;

}

.portfolio li a.work{
	position:absolute;
	width:140px;
	height:180px;
	background:rgba(0,0,0,0.8);
}

.work-page .portfolio li div h3{font:55px 'GraphikLight', Arial, Helvetica, sans-serif; font-weight:100;}
.work-page .portfolio li div h3 small{
	font-size:34px;
	vertical-align:text-top;
	font-weight:bold;
	color:#00ffff;
}
.work-page .portfolio li div h3 a{text-decoration:underline;}

.work-page .portfolio li img{
	width:140px;
	height:180px;
	z-index:-1;
	position:absolute;
}
/*
.work-page .portfolio li:hover div{
	display:block;
	z-index:1;
}
*/
.work-page .portfolio li:hover img{
	z-index:1;
}

.work-page .portfolio li:hover div span{
	color:#0FF;
}
.work-page .portfolio li:hover div small{
	font-family:'GraphikSemibold', Arial, Helvetica, sans-serif;
	color:#0FF;
}


/*~~~~~~~~~~~~     WORK PAGE STYLES     ~~~~~~~~~~~~~*/

.work-page header{
	height:28px;
	width:100%;
}

.service-icons{float:left;}

.portfolio ul li{
	list-style:none;
	float:left;
	width:140px;
	height:200px;
	margin-right:20px;
}
.portfolio li a.work{width:140px; height:180px;}
.portfolio img{width:140px;	height:180px;}

#projectList{
	position:absolute;
	top:0;
}
/*-    Service icons    -*/

header a.sort-by-service, header a.reset{padding-right:45px;}
header a.sort-by-service{background-position:118px -11px;}
header a.reset{background-position:52px -57px; margin-bottom:65px;}
header a.sort-by-service:hover{background-position:118px -42px;}
header a.reset:hover{background-position:52px -73px;}

/*-- Footer Icons --*/
a.back-top:hover, a.view-more:hover, a.view-more2:hover, header a.reset:hover, header a.sort-by-service:hover, a.read-more:hover{color:#00ffff;}
a.back-top, a.view-more, a.view-more2, header a.sort-by-service, header a.reset, a.read-more{background-image:url('images/css-sprite.gif'); background-repeat:no-repeat;}
a.back-top{background-position:0 2px; padding:0 21px 0 21px;}
a.read-more{background-position:81px -12px;	padding-right:21px;}
a.read-more:hover{background-position:81px -43px;}
a.back-top:hover{background-position:0 -28px;}
a.view-more{background-position:122px -12px; padding-right:27px;}
a.view-more:hover{color:#00ffff; background-position:122px -43px;}
a.view-more2{background-position:80px -12px; padding-right:21px;}
a.view-more2:hover{color:#00ffff; background-position:80px -43px;}
.information-detail a.back-top{background-position:0 4px;}
.information-detail a.back-top:hover{background-position:0 -26px;}
.information-detail a.view-more{background-position:122px -11px;}
.information-detail a.view-more:hover{background-position:122px -42px;}
.ie a.view-more{padding-right:25px;}

header h1{
	width:310px;
	float:left;
	font-size:22px;
}
h1 span{font-weight:100;}

/*-- Navigation-Active --*/
.navigation-active div{
	position:absolute;
	top:0;
	left:0;
	width:252px;
	height:181px;
	background:rgba(255,255,255,0.8);
	padding:35px 52px 46px 64px;
	text-align:center;
	z-index:1;
}
.navigation-active div a{
	display:block;
}
.navigation-active div a.top-arrow, .navigation-active div a.left-arrow, .navigation-active div a.right-arrow, .navigation-active div a.bottom-arrow{
	background:url('images/css-sprite.gif') no-repeat 0 0;
	text-indent:-9999px;
	position:absolute;
	height:42px;
	width:42px;
	display:block;
}
.navigation-active div p{
	padding-top:102px;
}
.navigation-active div p a{
	font:18px 'GraphikSemibold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#989898;
}
.navigation-active div p a:hover{
	color:#000;
}
.navigation-active div a.top-arrow{background-position:0 -203px; left:163px; top:35px;}
.navigation-active div a.left-arrow{background-position:0 -332px; left:118px; top:80px;}
.navigation-active div a.right-arrow{background-position:0 -245px; left:208px; top:80px;}
.navigation-active div a.bottom-arrow{background-position:0 -289px; left:163px;	top:80px;}
.navigation-active div a.top-arrow:hover{background-position:0 -375px;}
.navigation-active div a.left-arrow:hover{background-position:0 -504px;}
.navigation-active div a.right-arrow:hover{background-position:0 -418px;}
.navigation-active div a.bottom-arrow:hover{background-position:0 -461px;}

/*-   Work Page Hover Information    -*/
.work-page header{margin-bottom:17px;}
.bulletin header{margin-bottom:10px;}
.work-page h3{font-size:55px; font-weight:normal;}
.work-page h3 small{
	font-size:34px;
	vertical-align:text-top;
	font-weight:bold;
	color:#00ffff;
}
.work-page h3 a{text-decoration:underline;}

/*-   Service List  -*/
.service-list {
	padding-top:40px;
	position:relative;
	display:none;
	width:816px;
}
.service-list ul{width:654px; padding-left:0;}
.service-list li{width:154px; float:left; list-style:none;}
.service-list li a{font:14px 'GraphikSemibold'; color:#989898;line-height:21px;}
.service-list li a.active {color:#00ffff;}
.service-list li a:hover {color:#00ffff;}
.service-list .close{
	width:15px;
	height:15px;
	position:absolute;
	right:0;
	top:65px;
}
.service-list .close a{display:block; text-indent:-9999px; background:url('images/css-sprite.gif') no-repeat 0 -89px;}
.service-list .count{position:absolute; right:0; bottom:0; display:block; font:35px 'GraphikSemibold', Arial, Helvetica, sans-serif; color:#fff;}

/*- Work Page Footer Styles -*/
footer {width:830px; min-width:830px; position:absolute; left:29px; bottom:25px;}
.content .navigation{width:250px; float:right;}
.arrows{width:290px; float:left;}
footer a, .service-icons a{
	color:#989898;
	font-size:14px;
	font-weight:bold;
	text-decoration:underline;
}
a.service-active {color:#00ffff; background-position:110px -42px;}

/*~~~~~~~~    INFORMATION PAGE STYLES HERE    ~~~~~~~~*/
.information-page .categories a{
	font-size:14px;
	font-family:'GraphikRegular', Arial, Helvetica, sans-serif;
	text-decoration:underline;
	line-height:1.5;
	color:#979797;
}

.information-wrapper{
	position:relative;
	margin-top:20px;
	min-width:740px;
	width: 82%; 
	float:left;
	height:480px;
	overflow:hidden;
}
.information-page .categories{
	width:743px;
}
.information-page .information-content sup{
	font:20px 'GraphikRegular', Arial, Helvetica, sans-serif;
	color:#0FF;
}

.information-page .right-sidebar sup{
	color:#0FF;
}

.information-page .information-content{
	position:absolute;
	top:0;
}

.information-page p{
	margin-top:0px;
	font:35px 'GraphikRegular', Arial, Helvetica, sans-serif;
	line-height:1.26;
	color:#FFF;
}
.information-page aside{
	width:130px;
	float:right;
	color:#FFF;
	margin-right: 20px;
}
.information-page ul li h2, .information-page aside small{
	font:11px 'GraphikSemibold', Arial, Helvetica, sans-serif;
	color:#0FF;
}
.information-page .right-sidebar p{
	margin-bottom:16px;
	font:11px 'GraphikLight', Arial, Helvetica, sans-serif;
	line-height:1.5;
}
.information-page ul li{
	list-style:none;
	margin-bottom:16px;
	font:11px 'GraphikRegular', Arial, Helvetica, sans-serif;

}
.information-page ul li a{
	text-decoration:underline;
}
/*~~~~~~~~~~~~~   CONTACT PAGE STYLES HERE   ~~~~~~~~~~~~~~~*/
.contact{
	color:#FFF;
	width:387px;
	margin-right:74px;
	float:left;
}
.contact h2{
	font:35px 'GraphikRegular', Arial, Helvetica, sans-serif;
	text-decoration:underline;
	line-height:1.3;
	width:350px;
	margin-bottom:60px;
}
.contact-info{
	margin-bottom:33px;
    margin-top:  -17px;
}
.contact-info p{
	font:35px 'GraphikRegular', Arial, Helvetica, sans-serif;
	line-height: 44px;
}
.contact .copyright{
	font:11px 'GraphikRegular', Arial, Helvetica, sans-serif;
	line-height:1.6;
	color:#989898;
}


/*-----  Form Styles Here  -----*/
.form-wrapper{
	padding-top:7px;
	width:320px;
	float:left;
}
a.social-network{
	color:#0FF;
}
a.social-network:hover{
	text-decoration:underline;
}
.errorDisplay{
	font: 13px 'GraphikRegular', Arial, Helvetica, sans-serif;
	margin-left:98px;
	margin-top:10px;
	color:#989898;
}
#hiddenDiv{display:none;}
.form-wrapper h3.form-heading{
	font:22px 'GraphikRegular', Arial, Helvetica, sans-serif;
	margin-bottom:18px;
}
.form-wrapper label{
	width:77px;
	padding-top:9px;
	float:left;
	text-align:right;
	font:14px 'GraphikSemibold', Arial, Helvetica, sans-serif;
	margin-right:20px;
	text-decoration:underline;
}
.form-wrapper input[type="text"], .form-wrapper input[type="email"]{
	float:right;	
	width:201px;
	font:12px 'GraphikRegular', Arial, Helvetica, sans-serif;
	padding:10px;
	height:11px;
	margin-bottom:10px;
	border:1px #fff solid;
}
.form-wrapper input[type="submit"]{
	font:14px 'GraphikSemibold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	width:223px;
	height:31px;
	float:right;
	margin-bottom:10px;
	border:0;
	background-color:#00ffff;
}
/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	.left-pane {
		width:27%;
	}
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}

/* Additional styles!
-------------------------------------------------------------------------------*/
.pages #supersized { margin: 0px 0px 0px 0px; }
.pages #supersized, .pages #supersized li { position: absolute; }

.pages #page-loader {
  position:absolute;
  top:50%;
  left:50%;
  z-index:0;
  width:60px;
  height:60px;
  margin:-30px 0 0 -30px;
  text-indent:-999em;
  background:url(../img/progress.gif) no-repeat center center;
}
.pages {
  overflow: hidden;
  z-index: -1;
}
.page-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -999;
}
.portfolio ul li {
	height:200px;
    width: 160px;
    list-style:none;
    float:left;
    position: relative;
    margin-bottom: 0px;
    margin-right: 0px;
}
.ie6 .portfolio li a.work,
.ie7 .portfolio li a.work,
.ie8 .portfolio li a.work{
	background:none;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF,endColorstr=#DDFFFFFF);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF,endColorstr=#DDFFFFFF);
	zoom: 1;
}
.work-page .portfolio li div{
	display:none;
	width:612px;
	position:absolute;
	top:200px;
	left:0;
}
.service-list li .current-service {color:#00ffff;}