﻿<div class="bulletin content clearfix">
  <header class="clearfix">
    <div class="clearfix">
      <h1><a href="#">WSDIA</a> &#124; <span>Bulletin</span></h1>
    </div>
  </header >
  <div id="tj_container">
       <div class="tj_wrapper bulletin-page clearfix">
        <ul class="clearfix" id="bulletinList">
            <li>
                <div><img src="css/images/bulletin-1.jpg" alt="Bulletin" />
                <span>Nov.02.11</span>
                <a class="bulletinn-heading" href="#">Basketball is Life &amp; Life is Basketball</a>
                <p>We completed our first project for Nike New York. Three different collections of basketball tees that were sold uptown in Nike premiere BLVD Ice retail shop. The tees were seen on <a href="#">Hypebeast</a>. AMPED!</p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-2.jpg" alt="Bulletin" />
                <span>Sept.02.11</span>
                <a class="bulletinn-heading" href="#">Nike VCXC Opens to the Bronx!</a>
                <p>WSDIA has completed a 4&#44;000sf temporary structure in the Bronx for Nike&#39;s Running Silo&#44; specifically&#44; their Cross-country target. The space is open until December 15th. See video of the space on <a href="#">Nike Running's Vimeo.</a></p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-3.jpg" alt="Bulletin" />
                <span>Nov.26.11</span>
                <a class="bulletinn-heading" href="#">Nike Football Seeding</a>
                <p>We completed our first project for Nike New York. Three different collections of basketball tees that were sold uptown in Nike premiere BLVD Ice retail shop. The tees were seen on <a href="#">Hypebeast</a>. AMPED!</p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-4.jpg" alt="Bulletin" />
                <span>June.15.11</span>
                <a class="bulletinn-heading" href="#">NMAAHC Work Continues</a>
                <p>WSDIA is excited to announce that we are a member of the exhibition design team led by <a href="#">RAA</a> for the Smithsonian Institution&#39;s <a href="#">National Museum of African American History and Culture.</a></p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-5.jpg" alt="Bulletin" />
                <span>July.27.11</span>
                <a class="bulletinn-heading" href="#">ESPN Calls Our Name</a>
                <p>Sports juggernaut&#44; ESPN has asked us to complete a print &amp; web project for their International Marketing Solutions Dept.</p></div>
            </li>
	    <li>
                <div><img src="css/images/bulletin-1.jpg" alt="Bulletin" />
                <span>Test date 1</span>
                <a class="bulletinn-heading" href="#">Basketball is Life &amp; Life is Basketball</a>
                <p>We completed our first project for Nike New York. Three different collections of basketball tees that were sold uptown in Nike premiere BLVD Ice retail shop. The tees were seen on <a href="#">Hypebeast</a>. AMPED!</p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-2.jpg" alt="Bulletin" />
                <span>Test date 2</span>
                <a class="bulletinn-heading" href="#">Nike VCXC Opens to the Bronx!</a>
                <p>WSDIA has completed a 4&#44;000sf temporary structure in the Bronx for Nike&#39;s Running Silo&#44; specifically&#44; their Cross-country target. The space is open until December 15th. See video of the space on <a href="#">Nike Running's Vimeo.</a></p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-3.jpg" alt="Bulletin" />
                <span>Nov.26.11</span>
                <a class="bulletinn-heading" href="#">Nike Football Seeding</a>
                <p>We completed our first project for Nike New York. Three different collections of basketball tees that were sold uptown in Nike premiere BLVD Ice retail shop. The tees were seen on <a href="#">Hypebeast</a>. AMPED!</p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-4.jpg" alt="Bulletin" />
                <span>June.15.11</span>
                <a class="bulletinn-heading" href="#">NMAAHC Work Continues</a>
                <p>WSDIA is excited to announce that we are a member of the exhibition design team led by <a href="#">RAA</a> for the Smithsonian Institution&#39;s <a href="#">National Museum of African American History and Culture.</a></p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-5.jpg" alt="Bulletin" />
                <span>July.27.11</span>
                <a class="bulletinn-heading" href="#">ESPN Calls Our Name</a>
                <p>Sports juggernaut&#44; ESPN has asked us to complete a print &amp; web project for their International Marketing Solutions Dept.</p></div>
            </li>
			            <li>
                <div><img src="css/images/bulletin-1.jpg" alt="Bulletin" />
                <span>Test date 3</span>
                <a class="bulletinn-heading" href="#">Basketball is Life &amp; Life is Basketball</a>
                <p>We completed our first project for Nike New York. Three different collections of basketball tees that were sold uptown in Nike premiere BLVD Ice retail shop. The tees were seen on <a href="#">Hypebeast</a>. AMPED!</p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-2.jpg" alt="Bulletin" />
                <span>Sept.02.11</span>
                <a class="bulletinn-heading" href="#">Nike VCXC Opens to the Bronx!</a>
                <p>WSDIA has completed a 4&#44;000sf temporary structure in the Bronx for Nike&#39;s Running Silo&#44; specifically&#44; their Cross-country target. The space is open until December 15th. See video of the space on <a href="#">Nike Running's Vimeo.</a></p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-3.jpg" alt="Bulletin" />
                <span>Nov.26.11</span>
                <a class="bulletinn-heading" href="#">Nike Football Seeding</a>
                <p>We completed our first project for Nike New York. Three different collections of basketball tees that were sold uptown in Nike premiere BLVD Ice retail shop. The tees were seen on <a href="#">Hypebeast</a>. AMPED!</p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-4.jpg" alt="Bulletin" />
                <span>June.15.11</span>
                <a class="bulletinn-heading" href="#">NMAAHC Work Continues</a>
                <p>WSDIA is excited to announce that we are a member of the exhibition design team led by <a href="#">RAA</a> for the Smithsonian Institution&#39;s <a href="#">National Museum of African American History and Culture.</a></p></div>
            </li>
            <li>
                <div><img src="css/images/bulletin-5.jpg" alt="Bulletin" />
                <span>July.27.11</span>
                <a class="bulletinn-heading" href="#">ESPN Calls Our Name</a>
                <p>Sports juggernaut&#44; ESPN has asked us to complete a print &amp; web project for their International Marketing Solutions Dept.</p></div>
            </li>
        </ul>
      </div>
  </div>
  <footer class="clearfix">
    <div class="arrows tj_nav">
      <a id="tj_previous_bulletin" class="back-top" href="#">Back to Top</a>
      <a id="tj_next_bulletin" class="view-more2" href="#">View More</a></div>
    <nav class="navigation">
      <ul>
        <li><a href="#/work">Work</a></li>
        <li><a href="#/information">Information</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </nav>
  </footer>
</div>