<div class="work-page content clearfix">
  <header class="clearfix">
    <div class="clearfix">
      <h1><a href="#">WSDIA</a> &#124; <span>Information</span></h1>

    </div>
  </header>
  <div class="clearfix">
  	<div class="contact clearfix">
	  	<h2>To have a chat&#44; give us a call or send us a note&#58;</h2>
        <div class="contact-info">
            <p>tel&#58; +1 347 52 9 16 44</p>

            <p>fax&#58; +1 347 21 4 73 88</p>
            <p><a class="social-network" href="mailto:info@wsdia.com">info&#64;wsdia&#46;com</a></p>
            <p><a class="social-network" href="#">like us on bookface</a></p>
        </div>
        <p class="copyright">Copyright &#169; 2012. WeShouldDoItAll LLC. All rights reserved. Unless otherwise indicated, all materials on these pages are copyrighted by WeShouldDoItAll LLC. All trademarks and brand names are acknowledged as belonging to their respective owners. No part of these pages, either text or image, may be used for any purpose other than personal use.</p>

    </div>
    <div class="form-wrapper">
        <form id="newsletter" class="clearfix" action="processForm.php" method='post'>
            <h3 class="form-heading">To receive our newsletter:</h3>
            <div class="clearfix">
                <label for="Name">Your Name</label>
                <input type="text" name="senderName" id="senderName" required="required" maxlength="40"/>
            </div>

            <div class="clearfix">
                <label for="EmailAddress">Your Email</label>
                 <input type="email" name="senderEmail" id="senderEmail" required="required" maxlength="50" />
            </div>
            <div>
                <input type="submit" id="SubmitButton" name="SubmitButton" value="submit" />
            </div>
				<div id="hiddenDiv"></div>
				<div id="sendingMessage" class="errorDisplay"><p>Sending your information...</p></div>
				<div id="successMessage" class="errorDisplay"><p>Thanks for subscribing.</p></div>
				<div id="failureMessage" class="errorDisplay"><p>There was a problem.Please try again.</p></div>
				<div id="incompleteMessage" class="errorDisplay"><p>Please complete all the fields in the form.</p></div>
        </form>

    </div>
  </div>
  <footer class="clearfix">
    <nav class="navigation">
      <ul>
        <li><a href="#bulletin">Bulletin</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#information">Information</a></li>

      </ul>
    </nav>
  </footer>
</div>