<section class="gallery">
  <a id="prevslide" class="load-item"></a>
  <a id="nextslide" class="load-item"></a>

  <div>
    <div id="share-box" class="clearfix">
      <div class="email">
        <a href="http://twitter.com/home?status=Currently reading” title=”Click to share this post on Twitter">
          <img src="css/images/email.png" height="35" width="35" alt="Email"/>
          Email
        </a>
      </div>
      <div class="facebook">
        <a href="#"><img src="css/images/facebook.png" height="34" width="17" alt="Facebook"/>Facebook</a>
      </div>

      <div class="twitter">
        <a href="http://twitter.com/home?status=Check out this project from WSDIA: ">
          <img src="css/images/twitter.png" height="33" width="48" alt="Twitter"/>
          Twitter
        </a>
      </div>

      <h2>want to SHARE THIS PROJECT?<br>
          PICK A PLATFORM
      </h2>
    </div>

    <header class="caption"></header>

    <div class="navigation-active">
      <div class="navigate">
        <a class="top-arrow" href="#">Top</a>
        <a class="right-arrow" href="#">Right</a>
        <a class="bottom-arrow" href="#">Bottom</a>
        <a class="left-arrow" href="#">Left</a>
        <p>Use keyboard arrows<br/>to navigate</p>
      </div>
    </div>

    <div class="information-detail content">
      <div id="projectInformation">
        <header class="clearfix">
          <div class="related">
            <a href="#">Identity</a>,
            <a href="#">Design System</a>,
            <a href="#">Print</a>,
            <a href="#">Environmental Design</a>,
            <a href="#">Exhibition Design</a>,
            <a href="#">Signage</a>, <a href="#">Interactive</a>,
            <a href="#">Content Development</a>
          </div>
        </header>
        <div class="information-page clearfix">
          <div class="information-wrapper">
            <div class="information-content" id="projectDetail">
              <p>Imagine a paper-thin shoe: no more than two microns thick, it's only support from threads.
                Flywire is a revolutionarytechnology constructed from high-strength threads that function like suspension bridge cables with
                support engineered precisely where the foot requires it. Flywire authorized Nike to produce its lightest and strongest footwear to
                date. Reducing the required material to a minimum has transformed how footwear is engineered.
              </p>
              <p>Nike contacted WSDIA to create an identity for this new technology. The identity had to embody delicacy and durability,whilst remain
                constrained, simple, and versatile for application on varied materials through countless techniques. Ultimately, Nike did not employ
                a concept provided by WSDIA, rather an identity produced by Nike’s in-house team.
              </p>
              <p>Learn More about Flywire here (http://en.wikipedia.org/wiki/Nike_Flywire) Flywire Hyperdunk Kobe Bryant commercial
                (<a href="http://www.youtube.com/watch?v=rryoAwhO4Tg" target="_blank">http://www.youtube.com/watch?v=rryoAwhO4Tg</a>)
              </p>
              <p>project intro image by Geng Luo.
                <a href="http://www.flickr.com/photos/gengluo/3538789327" target="_blank">http://www.flickr.com/photos/gengluo/3538789327</a>
              </p>
            </div>
          </div>
          <aside class="right-sidebar">
            <h3>CLIENT&mdash;</h3>
            <p>AIA Center For Architecture (CFA)</p>
            <h3>CREDITS&mdash;</h3>
            <ul>
              <li>Exhibition Design: WSDIA & <a href="#">Corey Yurkovich</a></li>
              <li>Exhibition Graphics & Art Direction: WSDIA</li>
              <li>Exhibition Studio Portraits: <a href="#">Mastromatteo + Steen</a></li>
              <li>Exhibition Photography: Floto + Warner</li>
            </ul>
            <h3>Recognition&mdash;</h3>
            <ul>
              <li>AIGA,'365:Annual 30'</li>
              <li>Creative Review,'The Annual', May 2009 issue</li>
              <li>Type Directors Club TDC55 'Certificate of Typographic Excellence'</li>
            </ul>
          </aside>
          <div class="arrows tj_nav" id="textNav">
            <a id="detail_prev" class="back-top" href="#">Back to Top</a>
            <a id="detail_next" class="read-more" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="project-navigation clearfix">
      <div class="left-rollover-side clearfix">
        <h1><a href="#">WSDIA</a> &#124; <span class="brand-presentation"></span></h1>
        <nav class="brand-navigation">
          <ul class="clearfix">
            <li><a href="#/work">Back</a></li>
            <li><a href="#/bulletin">Bulletin</a></li>
            <li><a href="#/information">Information</a></li>
            <li><a href="#/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="right-rollover-side clearfix">
        <div class="page-count" id="slidecounter">
          <div class="leftArrow"><img src="img/leftArrow-off.png" class="arrowNav"/></div>
          <div class="count"></div>
          <div class="separator">/</div>
          <div class="counted"></div>
          <div class="rightArrow"><img src="img/rightArrow-off.png" class="arrowNav"/></div>
        </div>
        <div class="share"><a href="#share-box">Share</a></div>
      </div>
      <div class="navigate-arrows">
        <div id="keyboard">
          <img src="img/keyboardIcon_off.png" alt="Use Your Keyboards" id="keyIcon"/>
        </div>
      </div>
      <div class="collapse" id="expandIconNike"><a href="#">X</a></div>
    </div>
  </div>
</section>