﻿<section class="rollover">
    <h1><a href="#">WSDIA</a> &#124; <a href="#">WeShouldDoItAll</a></h1>
    <nav class="navigation">
    <ul class="clearfix">
        <li><a href="#/work">Work</a></li>
        <li><a href="#/bulletin">Bulletin</a></li>
        <li><a href="#/information">Information</a></li>
        <li><a href="#/contact">Contact</a></li>
    </ul>
    </nav>
    <div class="collapse" id="expandItem">X</div>
</section>