<div class="information-detail content">
  <header class="clearfix">
    <div class="clearfix">
      <h1><a href="#">WSDIA</a> &#124; <span>Information</span></h1>

    </div>  
  </header>
  <div class="information-page clearfix">
  	<div class="information-wrapper">
    	<div class="information-content"><p><u>Our name, WeShouldDoItAll (WSDIA), is simply a goal</u><sup>1</sup>. Designers and all other professionals alike should not feel constrained to some singular expertise. To survive our own creative game, it is imperative to know that there is not one absolute solution to a given problem. To immerse oneself within different avenues of creative production and mediums forces you to consider the otherwise unconsidered. It&apos;s that method of working that&apos;s exciting and motivating to look forward to the next transition. </p><br/>
    
    		<p>WSDIA is a Brooklyn, New York-based graphic, interactive, and architecture multi-disciplinary design studio. WSDIA designs, develops and mediates interactive, print, motion and architecture projects for a diverse group of clients in a wide array of professions.</p>
    	</div>
     </div>	
    	<aside class="right-sidebar">
      		<p><sup>1</sup> A human being should be able to change a diaper, plan an invasion, butcher a hog, conn a ship, design a building, write a sonnet, balance accounts, build a wall, set a bone, comfort the dying, take orders, give orders, cooperate, act alone, solve equations, analyze a new problem, pitch manure, program a computer, cook a tasty meal, fight efficiently, die gallantly. Specialization is for insects.</p>
      		<p><em>Time Enough For Love by Robert A. Heinlein</em></p>
    	</aside>
    	  
  </div>
  
    <footer class="clearfix">
    <div class="arrows tj_nav">
      <a id="tj_prev_info" class="back-top" href="#">Back to Top</a>
      <a id="tj_next_info" class="read-more" href="#">Read More</a></div>
    <nav class="navigation">
      <ul>
        <li><a href="#/bulletin">Bulletin</a></li>
        <li><a href="#/work">Work</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </nav>
  </footer>
</div>