<div class="work-page content clearfix">
  <header class="clearfix">
    <div class="clearfix">
      <h1><a href="">WSDIA</a> &#124; <span>Project</span></h1>      
    </div>

  </header >
  <div class="project-items"></div>
  <footer class="clearfix">
    

    <nav class="navigation">
      <ul>
        <li><a href="#bulletin">Bulletin</a></li>
        <li><a href="#information">Information</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

  </footer>
</div>