<div class="work-page content clearfix">
  <header class="clearfix">
    <div class="clearfix">
      <h1><a href="">WSDIA</a> &#124; <span>Work</span></h1>

      <div class="service-icons clearfix"><a class="sort-by-service" href="#">Sort By Service</a><a class="reset" href="#">Reset</a></div>
    </div>
    <div class="service-list">
      <ul class="clearfix">
        <li><a category_id="<%=emptyCategory%>" href="#" title="All">All</a></li>
        <%$.each(data.find('work > categories > category'), function() {%>
            <li><a href="#" category_id="<%=$(this).attr('id')%>" title="<%=$(this).attr('name')%>"><%=$(this).attr('name')%></a></li>
        <%})%>
      </ul>

      <div class="close"><a href="#">X</a></div>
      <div class="count"><a><%=data.find('work > projects > project').length%></a></div>
    </div>
  </header >
  <div class="project-items"></div>
  <footer class="clearfix">
    <div class="arrows tj_nav"><a id="tj_prev" class="back-top" href="">Back to Top</a> <a id="tj_next" class="view-more" href="">View More Work</a></div>

    <nav class="navigation">
      <ul>
        <li><a href="#bulletin">Bulletin</a></li>
        <li><a href="#information">Information</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

  </footer>
</div>