<div id="tj_container">
<div class="portfolio tj_wrapper">
  <ul class="tj_gallery clearfix" id="projectList">
      <%$.each(projects, function(i) {%>
          <li> <a class="work" href="#/work/<%=$(this).find('link').text()%>">
                  <img src="<%=$(this).find('thumb').text()%>" alt="<%=$(this).find('title').text()%>" />
                </a>
            <div class="projectHover">
              <h3 class="work-information"><small><%=(i+1)%></small><a href="#work/<%=$(this).find('link').text()%>"><%=$(this).find('title').text()%></a> &mdash; <span><%=$(this).find('featureCategory').text()%></span></h3>
            </div>
          </li>
      <%})%>
  </ul>
</div>
</div>